<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.denifilatoff.reviewctl</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/you/.local/bin/reviewctl</string>
    <string>--json</string>
    <string>run</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>XDG_CONFIG_HOME</key>
    <string>/Users/you/.config</string>
    <key>XDG_STATE_HOME</key>
    <string>/Users/you/.local/state</string>
    <key>XDG_CACHE_HOME</key>
    <string>/Users/you/.cache</string>
    <key>XDG_RUNTIME_DIR</key>
    <string>/Users/you/.local/state</string>
    <key>PATH</key>
    <string>/Users/you/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartInterval</key>
  <integer>300</integer>
  <key>StandardOutPath</key>
  <string>/Users/you/Library/Logs/reviewctl.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/you/Library/Logs/reviewctl.err.log</string>
</dict>
</plist>
